@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .markdown-container>* {
    all: revert;
  }
}

.markdown-container a {
  text-decoration: underline;
  color: #d88b4e;
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5 {
  color: #d88b4e;
}

.markdown-container pre {
  background-color: rgb(18, 18, 18);
  padding: 15px;
  border-radius: 7px;
}

dialog>* {
  background-color: #212121 !important;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}