@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .markdown-container > * {
    all: revert;
  }
}

.markdown-container a {
  text-decoration: underline;
  color: #d88b4e;
}

dialog > * {
  background-color: #212121 !important;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}
