@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .markdown-container>* {
        all: revert
    }
}

.markdown-container a {
    text-decoration: underline;
    color: #D88B4E;
}